/* PHASE 1: Header */
body {
	font-family: Roboto;
	font-weight: 400;
	font-size: 16px;
}

.header {
	background-color: #f00;
	color: #fff;
	border-bottom: solid 1px #ccc;
}

.header-nav {
	width: 900px;
	margin: auto;
}

.header-logo {
	float: left;
	border-right: solid 1px #ccc;
	border-left: solid 1px #ccc;
	font-weight: 700;
}

.header-list{
	float: right;
	border-left: solid 1px #ccc;
}

.header-list > li {
	float: left;
	border-right: solid 1px #ccc;
	position: relative;
}

.header-nav li:hover {
	background-color: #000;
}

.header-logo:hover {
	background-color: #000;
}

.header-nav a {
	display: block;
	padding: 10px 20px;
};
