/* PHASE 3: Layout */
.content {
	position: relative;
	width: 898px;
	min-height: 200px;
	margin: auto;
	background-color: #fff;
	border-left: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
	border-right: solid 1px #ccc;
}

.content:before {
	content: "";
	display: block;
	position: absolute;
	background-color: #ccc;
	width: 1px;
	left: 240px;
	top: 200px;
	bottom: 0px;
}

.content-sidebar {
	width: 240px;
	min-height: 200px;
	float: left;
}

.content-main {
	width: 657px;
	min-height: 200px;
	float: right;
}
