/* PHASE 7: Online */
.online {
	position: absolute;
	color: #fff;
	background-color: #0c0;
	font-size: 14px;
	font-weight: 700;
	transform: rotateZ(-45deg);
	padding: 5px 80px;
	top: 10px;
	left:-80px;
	box-shadow: 0px 1px 5px #000;
}

.profile-picture {
	overflow: hidden;
}
